<!DOCTYPE html>
<html>
  <head>
  <title>BookClub</title>
  <link rel="stylesheet" href="styles.css" title="text/css" />=
  </head>
  <body>
    <h1>All Books</h1>
    <header>
      <ul class="topnav">
        <a id="home" href="#" class="menu">Home</a>
        <a id="home" href="/books" class="menu">Books</a>
      </ul>
    </header>
  </body>
</html>
