<!DOCTYPE html>
<html>
  <head>
  <title>BookClub</title>
  <link rel="stylesheet" href="styles.css" title="text/css" />
  </head>
  <body>
    <header>
      <ul class="topnav">
        <a id="home" href="#" class="menu">Home</a>
        <a id="home" href="/books" class="menu">Books</a>
      </ul>
      <div class="title">Book Club</div>
    </header>
    <h1>Welcome!</h1>
  </body>
</html>
