<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <ul class="topnav">
        <a id="home" href="/" class="menu">Home</a>
        <a id="books" href="/books" class="menu">Books</a>
      </ul>
      <div class="title">Book Club</div>
    </header>

    <%= yield %>
    
  </body>
</html>
